/* SignUp.css */

.register-form {
    max-width: 300px;
    margin: 70px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 4px 6px 10px 6px rgba(132, 114, 213, 0.1);
  }
  
  .register-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    margin-right: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Align labels to the left */
  }
  
  .form-group input {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .success {
    color: green;
    font-weight: bold;
  }
  